body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}