body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.card {
    border: 1px solid #b8860b;
}


.card-header.bg-gold {
    background-color: #b8860b !important;
    color: white;
}

.btn-gold {
    background-color: #b8860b !important;
    border: none;
    color: white;
}

.btn-gold:hover {
    background-color: #daa520 !important;
}