<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ברוכים הבאים</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>ברוכים הבאים לאפליקציית ניהול הקניות</h1>
        <a href="{{ url_for('register') }}" class="btn btn-primary">הרשמה</a>
        <a href="{{ url_for('login') }}" class="btn btn-secondary">התחברות</a>
        <a href="{{ url_for('demo_profile') }}" class="btn btn-info btn-block mt-3">הדגם לי את האפליקציה</a>
    </div>
</body>
</html>