<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>הרשמה</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">הרשמה</h1>
        <form method="post">
            <div class="form-group">
                <label for="email">אימייל:</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">סיסמא:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">הרשמה</button>
        </form>
        <a href="{{ url_for('login') }}" class="btn btn-link mt-3">כבר יש לך חשבון? התחברות</a>
    </div>
</body>
</html>