<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>חנות</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1 class="store-title">ברוכים הבאים לחנות</h1>

    <table class="product-table">
        <thead>
            <tr>
                <th>שם מוצר</th>
                <th>קטגוריה</th>
                <th>מחיר</th>
            </tr>
        </thead>
        <tbody>
            <tr class="product-row"><td class="name">חלב 3%</td><td>מוצרי חלב</td><td class="price">5.50</td></tr>
            <tr class="product-row"><td class="name">ביצים 12 יח'</td><td>מוצרי בסיס</td><td class="price">9.00</td></tr>
            <tr class="product-row"><td class="name">עגבניות</td><td>ירקות</td><td class="price">3.90</td></tr>
            <tr class="product-row"><td class="name">מלפפונים</td><td>ירקות</td><td class="price">4.20</td></tr>
            <tr class="product-row"><td class="name">שוקולד פרה</td><td>ממתקים</td><td class="price">6.50</td></tr>
            <tr class="product-row"><td class="name">מים מינרליים 6 יח'</td><td>שתיה</td><td class="price">14.90</td></tr>
            <tr class="product-row"><td class="name">קפה נמס</td><td>מזון יבש</td><td class="price">19.90</td></tr>
            <tr class="product-row"><td class="name">סוכר 1 ק"ג</td><td>מזון יבש</td><td class="price">3.50</td></tr>
            <tr class="product-row"><td class="name">במבה</td><td>חטיפים</td><td class="price">2.90</td></tr>
            <tr class="product-row"><td class="name">חטיף תפוחי אדמה</td><td>חטיפים</td><td class="price">3.90</td></tr>
            <tr class="product-row"><td class="name">אורז בסמטי</td><td>מזון יבש</td><td class="price">7.90</td></tr>
            <tr class="product-row"><td class="name">טונה בשמן</td><td>שימורים</td><td class="price">5.50</td></tr>
            <tr class="product-row"><td class="name">שמן קנולה</td><td>מזון יבש</td><td class="price">11.90</td></tr>
            <tr class="product-row"><td class="name">חזה עוף קפוא</td><td>בשר ודגים</td><td class="price">23.90</td></tr>
            <tr class="product-row"><td class="name">דג סלמון קפוא</td><td>בשר ודגים</td><td class="price">31.50</td></tr>
            <tr class="product-row"><td class="name">כיסא פלסטיק</td><td>רהיטים</td><td class="price">39.00</td></tr>
            <tr class="product-row"><td class="name">שולחן מתקפל</td><td>רהיטים</td><td class="price">89.00</td></tr>
            <tr class="product-row"><td class="name">שמפו לשיער</td><td>טואלטיקה</td><td class="price">12.90</td></tr>
            <tr class="product-row"><td class="name">מברשת שיניים</td><td>טואלטיקה</td><td class="price">5.00</td></tr>
            <tr class="product-row"><td class="name">סבון ידיים</td><td>טואלטיקה</td><td class="price">6.90</td></tr>
        </tbody>
    </table>

    <form action="/optimize_result" method="post">
        <button type="submit" class="optimize-button">בדוק</button>
    </form>
</body>
</html>
